.customText {
  position: relative;
}

.fade_in {
  opacity: 0; 
  animation: fadeInAnimation 2s ease-in forwards;
  animation-delay: 2.5s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animation_container {
  position: relative;
  overflow: hidden;
}
.gif {
  width: 100px; 
  height: 100px; 
  overflow: hidden; 
  background-image: url('../../assets/animations/fish_animation.gif'); 
  background-size:cover; 
  animation: moveGif 2s linear forwards; 
  position: absolute;
}

@keyframes moveGif {
  0% {
    transform: translateX(calc(15cqw));
  }

  80% {
    opacity: 0.8;
  }

  100% {
    transform: translateX(calc(40cqw)); 
    opacity: 0;
  }
  
}



